<RippleGenerator @onClick={{this.onClick}} as |onClick|>
    <button class="m-button {{if isElevated " elevation-enabled" "" }} {{this.variant}}" onclick={{onClick}}>
        {{yield}}
    </button>
</RippleGenerator>